.bg-image {
    background-image: url('https://images.pexels.com/photos/210922/pexels-photo-210922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; /* Hace que la imagen cubra toda el área del elemento sin distorsionarse */
    background-position: center center; /* Centra la imagen dentro del contenedor */
    background-attachment: fixed; /* Hace que la imagen de fondo se quede fija al hacer scroll */
  }
  