<button [disabled]="disabled || isLoading" (click)="handleClick()" [ngClass]="{
    'hover:bg-[#1AA34A]': !disabled && !isLoading, 
    'disabled:opacity-25 disabled:cursor-not-allowed': disabled || isLoading
  }"
  class="cursor-pointer flex items-center justify-center w-full px-4 py-2 rounded-full font-semibold transition-colors duration-200 bg-[#1ED760] ease-in-out duration-400 text-black text-base font-bold">
  <ng-container *ngIf="!isLoading; else loading">
    {{ label }}
  </ng-container>
  <ng-template #loading>
    Loading ...
  </ng-template>
</button>