<div 
  (click)="openModal()" 
  class="bg-[#181818] shadow-md rounded-lg p-4 transition-transform transform duration-300 
         hover:scale-105 hover:shadow-xl hover:bg-[#282828] cursor-pointer flex flex-col"
>
  <!-- 📌 Imagen del Álbum -->
  <div class="relative w-full h-52">
    <img 
      [src]="album.coverImage" 
      alt="Cover image of {{ album.name }}" 
      *ngIf="album.coverImage" 
      class="w-full h-full object-cover rounded-md"
    />
  </div>

  <!-- 📌 Info del Álbum -->
  <div class="flex flex-col items-center justify-center text-center mt-2">
    <h3 class="text-sm font-bold text-white truncate w-full px-2">
      {{ album.name }}
    </h3>
    <p class="text-xs text-gray-400">
      Released: {{ album.releaseYear }}
    </p>
    <p class="text-xs text-gray-400 truncate w-full px-2">
      Artist: {{ album.artistName }}
    </p>
  </div>
</div>

<app-modal [isOpen]="isModalOpen" (closed)="closeModal()">
  <app-list-of-songs *ngIf="isModalOpen" [albumId]="album.id" />
</app-modal>
