<section class="text-white">
  <h2 class="text-2xl font-bold mb-4">{{ albumName }}</h2>

  <div *ngIf="tracks.length > 0; else loading">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-[#282828] text-white">
          <th class="text-left p-4">#</th>
          <th class="text-left p-4">Title</th>
          <th class="text-left p-4">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of paginatedTracks; let i = index"
          class="border-b border-gray-700 hover:bg-[#3a3a3a] transition duration-300 ease-in-out">
          <td class="p-4">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="p-4">
            <a [href]="track.link" target="_blank" class="cursor-pointer text-[#1db954] hover:text-[#1ed760] font-medium transition duration-300 ease-in-out 
                     relative no-underline hover:border-b-2 border-[#1db954]">
              {{ track.name }}
            </a>
          </td>
          <td class="p-4">{{ formatDuration(track.duration) }}</td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center mt-6 space-x-3">
      <app-main-button [label]="'Prev'" (buttonClick)="changePage(currentPage - 1)" [disabled]="currentPage === 1" />
      <span class="px-4 py-2 font-semibold">{{ currentPage }} / {{ totalPages }}</span>
      <app-main-button [label]="'Next'" (buttonClick)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages" />
    </div>
  </div>

  <ng-template #loading>
    <app-loader [message]="'Loading tracks...'" />
  </ng-template>
</section>