<section class="w-full h-screen flex items-center justify-center sm:justify-end">
  <article class="w-[50%] flex flex-col items-center justify-center gap-6">
    <picture class="hidden md:block lg:w-[80%] mx-auto object-contain my-8">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Full_Logo_RGB_White.png" alt="logo" />
    </picture>
    <h1 class="text-white max-w-[400px] font-bold  text-[30px] text-center leading-normal">
      Millions of Songs, free on Spotify.
    </h1>
    <span class="w-[360px]">
      <app-main-button [label]="'Log In'" class="w-full" (buttonClick)="login()"></app-main-button>
    </span>
  </article>
</section>